[submodule "dependencies/HLSL2ALL"]
	path = dependencies/HLSL2ALL
	url = https://github.com/Gabriele91/HLSL2ALL.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "dependencies/astc-encoder"]
	path = dependencies/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "dependencies/RmlUi"]
	path = dependencies/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/freetype/freetype.git
